<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd






                        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <description>ehcache缓存配置管理文件</description>

    <!-- 启用缓存注解开关 -->
    <!-- <cache:annotation-driven cache-manager="cacheManager"/> -->
    <!-- 自定义key生成规则 -->
    <cache:annotation-driven cache-manager="cacheManager"
                             key-generator="customKeyGenerator"/>
    <bean id="customKeyGenerator" class="ecloud.com.base.cache.CustomKeyGenerator"/>

    <!-- 若只想使用Spring自身提供的缓存器,则注释掉下面的两个关于Ehcache配置的bean,并启用上面的SimpleCacheManager即可 -->
    <bean id="ehcacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:ehcache.xml"/>
        <property name="shared" value="true"/>
        <property name="cacheManagerName" value="ehcacheManager"/>
    </bean>

    <!-- 定义 ehCache 的工厂， 并设置所使用的 Cache name -->
    <bean id="myCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="ehcacheManager"/>
        <!--如果 cacheName 属性内设置的 name 在 ehCache.xml 中无法找到， 那么将使用默认的 -->
        <!--cache(defaultCache 标签定义) -->
        <property name="cacheName" value="myCache"/>
    </bean>
    <!-- 使用下面的二级缓存时，将这个注释掉 -->
    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheManager"/>
    </bean>

    <!-- 声明cacheManager，二级缓存 集群时用，ehcache用做一级缓存，在集群中不做同步；redis做二级缓存，ehcache中没缓存时查询redis -->
    <!-- <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager"> -->
    <!-- <property name="caches"> -->
    <!-- <set> -->
    <!-- ehcache做一级缓存，缓存名为myCache，redis 做二级缓存、以key-value形式保存(byte[]) -->
    <!-- <bean id="ehRedisCache" class="ecloud.com.base.cache.EhRedisCache"> -->
    <!-- <property name="redisTemplate" ref="redisTemplate" /> -->
    <!-- <property name="ehCache" ref="myCache" /> -->
    <!-- <property name="name" value="ehRedisCache" /> -->
    <!-- <property name="liveTime" value="3600" /> -->
    <!-- </bean> -->
    <!-- 用redis 做缓存， 这里可以配置多个redis -->
    <!-- <bean class="ecloud.com.base.cache.RedisCache"> -->
    <!-- <property name="redisTemplate" ref="redisTemplate" /> -->
    <!-- <property name="name" value="content" /> -->
    <!-- name对应的名称要在类或方法的注解中使用 -->
    <!-- </bean> -->
    <!-- <bean class="ecloud.com.base.cache.RedisCache"> -->
    <!-- <property name="redisTemplate" ref="redisTemplate" /> -->
    <!-- <property name="name" value="common" /> -->
    <!-- name对应的名称要在类或方法的注解中使用 -->
    <!-- </bean> -->
    <!-- </set> -->
    <!-- </property> -->
    <!-- </bean> -->

</beans>