<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

	<description>redisCache缓存配置管理文件</description>

	<!--<bean id="redisCacheManager" class="ecloud.com.base.cache.RedisCacheManager">-->
		<!--<property name="redisTemplate" ref="redisTemplate" />-->
		<!--<property name="names" value="${redisCacheNames:}" />-->
		<!--<property name="liveTime" value="${redisCacheLiveTime:}" />-->
<!--&lt;!&ndash; 		<constructor-arg name="redisTemplate" value="redisTemplate"></constructor-arg> 构造器注入属性&ndash;&gt;-->
	<!--</bean>-->

	<!-- 声明cacheManager，二级缓存 集群时用，ehcache用做一级缓存，在集群中不做同步；redis做二级缓存，ehcache中没缓存时查询redis -->
	<!-- <bean id="cacheManager" class="org.springframework.cache.support.SimpleCacheManager"> -->
	<!-- <property name="caches"> -->
	<!-- <set> -->
	<!-- ehcache做一级缓存，缓存名为myCache，redis 做二级缓存、以key-value形式保存(byte[]) -->
	<!-- <bean id="ehRedisCache" class="ecloud.com.base.cache.EhRedisCache"> -->
	<!-- <property name="redisTemplate" ref="redisTemplate" /> -->
	<!-- <property name="ehCache" ref="myCache" /> -->
	<!-- <property name="name" value="ehRedisCache" /> -->
	<!-- <property name="liveTime" value="3600" /> -->
	<!-- </bean> -->
	<!-- 用redis 做缓存， 这里可以配置多个redis -->
	<!-- <bean class="ecloud.com.base.cache.RedisCache"> -->
	<!-- <property name="redisTemplate" ref="redisTemplate" /> -->
	<!-- <property name="name" value="content" /> -->
	<!-- name对应的名称要在类或方法的注解中使用 -->
	<!-- </bean> -->
	<!-- <bean class="ecloud.com.base.cache.RedisCache"> -->
	<!-- <property name="redisTemplate" ref="redisTemplate" /> -->
	<!-- <property name="name" value="common" /> -->
	<!-- name对应的名称要在类或方法的注解中使用 -->
	<!-- </bean> -->
	<!-- </set> -->
	<!-- </property> -->
	<!-- </bean> -->

</beans>